@model ResponseModel<PostListModel>;
@{
    ViewData["Title"] = "Home Page";
}
@if (TempData["AlertMessage"] != null)
{
    <script>
        alert('@TempData["AlertMessage"]');
    </script>
}
<div id="myModal" class="modal hidden">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h2>Введите текст</h2>
        <form asp-controller="Home" asp-action="CreatePost" >
            <label for="post">Post:</label><br>
            <textarea class="form-input" name="Text" rows="8"></textarea>
            <input style="display: none;" value="@Model.Result.Username" name="Username" />
            <button class="button-action" type="submit">Создать</button>
        </form>
    </div>
</div>
<div class="container">
    <h1>Главная страница</h1>

    <div id="user-data">
        <h2>Данные пользователя</h2>
        <h3>Имя: <span>@Model.Result.Username</span></h3>
    </div>
    <br />
    <details>
    <summary style="cursor: pointer;color:red; font-weight:600">⬇️ Создать пост(Нажмите)</summary>
    <form asp-action="CreatePost" asp-controller="Home">
        <input name="Username" type="hidden"  value="@Model.Result.Username" />
        <div>
            <label for="ModelFormDescription" class="form-label">ExpireHour: </label>
            <input name="ExpireHour" placeholder="Введите время жизни поста(часы)"/>
        </div>
        <div class="mb-3">
            <label for="ModelFormDescription" class="form-label">Comment </label>
            <textarea name="Text" class="form-control" id="ModelFormDescription" rows="5" required></textarea>
        </div>
        <button class="btn-dark" type="submit">Создать пост</button>
    </form>
    </details>
    <br />
    <h6>Ваши посты (@Model.Result.Posts.Count)</h6>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Url</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var post in Model.Result.Posts)
            {
            <tr>
                <td>@post.Id</td>
                    <td>
                        <a href="@post.UrlAWS">https://localhost:7059/pastbin/Posts/@post.HashUrl</a>
                    </td>
                <td>
                    <a href="@Url.Action("DeletePost", "Home",
                            new PostDeleteDTO(){hashUrl=@post.HashUrl,username=Model.Result.Username}
                            )"
                    class="btn btn-danger">Delete</a>
                </td>
            </tr>
            }
        </tbody>
    </table>
    @* <a class="button-action" href="#" id="openModal">Создать пост</a> *@
    @* <a href="@Url.Action("Create","Home")" class="button-action">Создать пост</a> *@
    <a href="@Url.Action("Index","Home")" class="button-action">Выйти</a>
</div>